.txtBlue{
    color: blue;
}

.txtRed{
    color: red;
}

.underLine{
    text-decoration: underline;
}

.txtGreen{
    color: green;
}

.imgRes{
    width: 300px;
    height: auto;
    overflow: hidden;
}